@charset "UTF-8";

/*
共通部分
================================================ */
html {
    font-size: 100%;
    max-width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
:root{
    --orange: rgb(255, 242, 193);
    --yellow: rgb(255, 249, 226);
    --textcolor: rgb(76, 62, 46);
}
body {
    font-family: "Itim", "Kiwi Maru", sans-serif;
    line-height: 1.4;
    overflow-x: hidden !important;
    background-color: var(--yellow);
    color: var(--textcolor);
}
p {
    line-height: 1.4;
    padding: 10px 0;
    text-align: justify;
}
img {
    max-width: 100%;
}
h2 {
    font-size: 2rem;
}
h1,
h2 {
    text-align: center;
}


/* Button */


/*
ヘッダー
================================================ */
header {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
}
.logo {
    width: 50px;
    position: absolute;
    border-radius: 50%;
    left: 10px;
}
header a {
    color: white;
    font-size: 1.5rem;
}
.btn-menu {
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--textcolor);
    padding: .5rem 1rem;
    z-index: 100;
}
.menu {
    width: 50px;
}
.main-nav {
    background-color: rgb(76, 62, 46, .95);
    width: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: .5s;
}
.main-nav li {
    text-align: center;
    margin: 2rem 0;
}
.main-nav a {
    display: block;
}
.main-nav.open-menu {
    width: 100%;
}


/*
HERO
================================================ */
#hero {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: .8rem;
}
#hero h1 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    letter-spacing: 3px;
    top: 50px;
}
#hero h3 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 40px;
}
#hero img {
    width: 100%;
}

#hero h2{
    font-size: 2.5rem;
    margin-bottom: .8rem;
    line-height: 1.4;
}


/*
index
================================================ */
.work-item section {
    margin: 10% 0 20%;
}
.webdesign h6 {
    position: relative;
    text-align: right;
}
.webdesign .webimg-box {
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}
.work-item .webdesign img {
    width: 60%;
    filter: drop-shadow(3px 2px 5px rgba(92, 78, 62, 0.7));
}
.work-item .webdesign .webmb {
    max-width: 25%;
}
.psai h2 {
    line-height: 1;
    margin-bottom: 10px;
}
.psai .img-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
}
.work-item .psai .psaiimg-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
}
.work-item .psai .psaiimg-box img {
    padding: 0 7%;
}
.work-item .psai img {
    width: 60%;
    filter: drop-shadow(3px 2px 5px rgba(92, 78, 62, 0.7));
}
.work-item .profiles-name {
    width: 100%;
}
.work-item .profiles-name .name {
    margin: 10% 0 3% 5%;
}
.work-item .profiles-name img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
.work-item a {
    font-size: 1rem;
    color: var(--yellow);
    background-color: rgb(125, 106, 84);
    padding: 3px 8px 3px 20px;
    border-radius: 35px;
    width: fit-content;
    text-decoration: none;
    position: relative;
    right: -70%;
}
.work-item a:hover {
    background-color: var(--textcolor);
}



/*
web-design
================================================ */
.top {
    width: 100%;
    margin: 10% 0; 
    display:flex;
    align-items: center;
}
.top .top-box {
    background-color: var(--orange);
    flex-flow: column;
    display: flex;
    align-items: center;
    margin: 5%;
}
.top img {
    width: 90%;
    margin: 0 auto;
}
.top-box a {
    font-size: .8rem;
    color: var(--textcolor);
    text-align: center;
}
.web {
    width: 95%;
    height: auto;
    margin: 10% auto;
}
.web h3 {
    margin-top: 30%;
}
.web h5 {
    text-align: center;
}
.web .web-textbox {
    display: block;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word; 
}
.table.web-textbox,
.table.web-textbox td,
.table.web-textbox th {
    border-collapse: collapse;
}
table.web-textbox th,
table.web-textbox td {
    padding: 10px 5px;
    text-align: left;
    width: 100%;
    display: block;
}
table.web-textbox th {
    background-color: var(--orange);
    margin-top: 10px;
}
.web-textbox tr:last-child {
    border-bottom: none;
}
.web .web-imgbox {
    display: flex;
}
.web-imgbox .pc img {
    object-fit: contain;
    width: 100%;
    filter: drop-shadow(3px 2px 5px rgba(92, 78, 62, 0.7));
}
.web-imgbox .mb img {
    width: 90%;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(3px 2px 5px rgba(92, 78, 62, 0.7));
}
.web-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 3%;
}




/*
psai work-item
================================================ */
.work-item {
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: column;
    padding: 5% 0;
    margin: 10% auto;
    align-items: center;
    justify-content: center;
}
.work-item h4 {
    font-size: 1.3rem;
    text-align: center;
}
.work-item .boxitem h6 {
    text-align: center;
    line-height: 0;
    padding: 0;
}
.work-item img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    filter: drop-shadow(3px 2px 5px rgba(92, 78, 62, 0.7));
}
.work-item .text {
    width: 90%;
    height: fit-content;
    text-align: justify;
    padding: 0 15px;
    margin: 0 auto;
    background-color: var(--orange);
}
.work {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 5%;
}
.work h5 {
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    line-height: 1.3;
}




/*
profiles
================================================ */
#profiles {
    height: auto;
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto 10%;
}
.profiles-name {
    width: 80%;
    display:flex;
    justify-content:space-between;
    margin: 10% 0;
}
.profiles-name .name {
    margin: 10% 0 3% 5%;
}
.name h3 {
    padding-top: 5%;
}
.name h2{
    font-size: 2rem;
}
#profiles img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--orange);
    margin: auto 5% auto 0;
}
#profiles .profiles-item {
    width: 80%;
}
.table.profiles-item,
.table.profiles-item td,
.table.profiles-item th {
    border-collapse: collapse;
}
table.profiles-item th,
table.profiles-item td {
    word-break: keep-all;
    padding: 10px 5px;
    text-align: left;
    width: 100%;
    display: block;
    word-break: break-word;
    white-space: normal;
}
table.profiles-item th {
    background-color: var(--orange);
    margin-top: 10px;
}



/*
profile pictures
================================================ */
#pictures {
    height: auto;
}
#pictures h3{
    font-size: 2rem;
    text-align: center;
}
#pictures .grid {
    width: 94vw;
    margin: 0 auto 3vw;
    display: grid;
    position: relative;
    gap: 2vw;
    grid-template-columns: repeat(2, 46vw);
    grid-template-rows: repeat(12, 46vw);
}
#pictures .grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#pictures .grid-item:hover {
    filter: grayscale(0);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
    transform: scale(1.06);
    z-index: 3;
    position: relative;
}
#pictures .grid-big-top {
    grid-column: 1/3;
    grid-row: 2/3;
}
#pictures .grid-big-bottom {
    grid-column: 1/3;
    grid-row: 6/7;
}






/*
footer
================================================ */
footer {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--textcolor);
    margin: 10% auto 0;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
.footer-link {
    text-align: center;
    width: 90%;
    margin: 10% auto;
}
footer p {
    font-size: .8rem;
    color: white;
}
footer a {
    color: white;
    padding: 7px;
}


/*
psai gide
================================================ */
.lum-lightbox.lum-open {
    z-index: 4;
}
.lum-lightbox.lum-open {
    z-index: 5 !important;
}
.lum-lightbox-inner {
    cursor: zoom-out;
}
.lum-lightbox-inner img {
    max-width: 90vw;
    max-height: 70vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
}





/*
DESKTOP SIZE
================================================ */
@media (min-width: 700px){
    .logo {
        width: 100px;
    }
    .menu {
        width: 100px;
    }

    #hero h1 {
        font-size: 4rem;
        position: absolute;
        top: 7%;
        left: 20%;
    }
    #hero h3 {
        font-size: 4rem;
        position: absolute;
        top: 20%;
        left: 20%;
    }
    .work-item .webdesign {
        margin-bottom: 20%;
    }
    .work-item .psai {
        margin-bottom: 20%;
    }
    .webdesign h6 {
        font-size: 1.5rem;
    }
    .work-item {
        width: 70%;
        margin: 0 auto;
        align-items: center;
    }
    .work-item section {
        margin: 10% auto;
    }
    .work-item img {
        max-width: 90%;
        max-height: 50%;
    }
    .work-item h4 {
        font-size: 2rem;
        margin: 10px 0;
    }
    .work-item .profiles-name {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:0 0 0 -15%;
    }
    .work-item .profiles-name .name {
        white-space: nowrap;
    }
    .work-item .profiles-name img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 0 20% 10% 30%;
    }
    .work-item h3 {
        font-size: 2rem;
    }
    .work-item h2 {
        font-size: 3rem;
        line-height: 1;
    }
    .work-item a {
        font-size: 2rem;
    }
    .boxitem {
        display: flex;
        align-items: center;
        height: auto;
        margin-bottom: 30px;
    }
    .img-box {
        width: 50%;
        max-height: 95vh;
        object-fit: contain;
    }
    .work {
        width: 40%;
        padding: 0;
        margin: 0;
    }
    .work h5 {
        font-size: 1.2rem;
        text-align: center;
        padding: 5% 0;
    }
    .work-item .work {
        height: 100%;
    }
    .work-item .text {
        max-width: 80%;
        line-height: 1.4;
        margin: 40px auto 0;
        border-radius: 10px; 
    }
    .work-item .text p{
        padding: 3px;
    }
    .top-box a {
        font-size: 1.5rem;
    }
    .web h3,
    .web h4 {
        font-size: 2rem;
        position: relative;
        left: 20%;
    }
    .web h5 {
        font-size: 2rem;
    }
    .web h4 {
        font-size: 1.5rem;
    }
    .web-work h6 {
        font-size: 1.2rem;
    }
    .web .web-textbox {
        width: 65%;
        margin: 5% auto;
    }
    table.web-textbox th,
    table.web-textbox td {
        display: table-cell;
        width: auto;
        padding: 20px 12px;
        margin: 20% 0;
        text-align: left;
        vertical-align: top;
    }
    table.web-textbox th {
        text-align: right;
        width: 30%;
    }
    table.web-textbox {
        width: 70%;
        border-collapse: collapse;
        margin: 0 auto;
    }

    .profiles-name {
        width: 70%;
    }
    .name h2{
        font-size: 3rem;
    }

    table.profiles-item {
        width: 70%;
        border-collapse: collapse;
    }
    table.profiles-item th,
    table.profiles-item td {
        display: table-cell;
        width: auto;
        padding: 20px 12px;
        text-align: left;
        vertical-align: top;
    }
    table.profiles-item th {
        background-color: var(--orange);
        text-align: right;
        width: 25%;
    }

    #profiles img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 3px solid var(--orange);
    }
    #pictures h3{
        font-size: 3rem;
        padding: 5% 0;
    }
    #pictures .grid {
        width: 80vw;
        gap: 1vw;
        grid-template-columns: repeat(3, 26vw);
        grid-template-rows: repeat(9, 26vw);
    }
    #pictures .grid-big-bottom {
        grid-column: 2/4;
        grid-row: 4/5;
    }
    #pictures .grid-item {
        filter: grayscale(60%);
        transition: .3s;
    }
    #pictures .grid-item:hover {
        filter: grayscale(0);
        box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
        transform: scale(1.06);
        z-index: 3;
        position: relative;
    }
    .lum-lightbox-inner img {
        max-width: 80vw;
        max-height: 70vh;
    }

    footer a {
        font-size: 1.5rem;
        margin: 7px 15px;
    }
}





